html{
  overflow-y:scroll;
  scroll-behavior: smooth;
}

body {
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  position: relative;
  background: url('images/bg.jpg') no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  font-family: var(--bs-font-sans-serif);
  margin: 0;
}

.text-center{
  text-align: center !important;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, .h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 2.5rem;
  }
}

h2, .h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2, .h2 {
    font-size: 2rem;
  }
}

h3, .h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3, .h3 {
    font-size: 1.75rem;
  }
}

h4, .h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4, .h4 {
    font-size: 1.5rem;
  }
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

/* Navigation Bar */
.navigation{
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
}
.nav{
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  border-radius: 5px;
}
.nav-link{
    color: black;
    font-weight: bold;
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.nav-tabs{
  background-color: rgba(255,255,255, 0.7); 
}
.nav-tabs .nav-link {
  margin-bottom: -1px;
  background: none;
  border: 1px solid transparent;
  border-radius: 5px;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: #e9ecef #e9ecef #dee2e6;
  background-color: rgba(166, 227, 179, 0.8);
  isolation: isolate;
  border-radius: 5px;
}
.nav-link.disabled {
  color: #6c757d;
  pointer-events: none;
  cursor: default;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: rgb(166, 227, 179, 0.8);
  border-color: #dee2e6 #dee2e6 #fff;
}
.nav-fill > .nav-link,
.nav-fill .nav-item {
  flex: 1 1 auto;
  text-align: center;
}

ul{
  margin-top: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Content Container */
.container{
  margin-top: 70px;
  margin-bottom: 75px;
  display: grid;
  /* grid-auto-rows: minmax(50px, auto); */
  grid-template-columns: [start] repeat(2, 1fr) [end];
  background-color: rgba(255,255,255, 0.5);
  border-radius: 15px;
  border: solid 2px #808080;
  color: #504f54;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  gap: 16px;
  padding: 16px;
}
/* Content Styling */
.heading-title{
  grid-column: start / end;
}
/* Home Page */
.home-image-column{
  justify-self: center;
}
.profile-image{
  border-radius: 90px;
  border: 2px solid lightgray;
  max-width: 300px;
}
/* About Page */
.heading-subtitle{
  grid-column: start / end;
  text-align: start;
}
.education{
  padding: 10px;
  text-align:center;
}
.bubble{
  border: 1px solid #bbb;
  padding: 10px;
  border-radius: 10px;;
  background-color: rgba(255,255,255, 0.6);
}
.paragraph{
  border: 1px solid #bbb;
  background-color: rgba(255, 255, 255, 0.8);
  grid-column: start / end;
  padding: 0 18px;
  border-radius: 5px;

}
/* Projects Page */
.project{
  grid-column: start/end;
  padding: 10px;
}
.project-video{
  border-radius: 10px;;
  background-color: rgba(255,255,255, 0.6);
  grid-column: start/end;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

/* Blog Page */
.collapsible {
  background-color: rgb(135, 207, 150);
  cursor: pointer;
  padding: 18px;
  grid-column: start/end;
  text-align: left;
  outline: none;
  border: none;
  border-radius: 10px;
  font-weight: 600;
}

.active, .collapsible:hover {
  background-color: rgb(149, 206, 186);
}

.content {
  padding: 0 18px;
  display: none;
  grid-column: start/end;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #bbb;
  border-radius: 5px;
}
.highlight{
  border: 2px solid #bbb;
  border-radius: 5px;
  padding: 2px;
  background-color: #ffffff;
  color: #75b683;
  font-weight: bold;
  line-height: 2;
  display: block;
  text-align: center;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  text-decoration: none;
}

.blog-image{
  border: 2px solid #bbb;
  border-radius: 5px;
  padding: 2px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.square{
  max-width: 300px;
}
.long{
  max-width: 600px;
}

/* Footer */
.footer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 10px; 
  background-color: rgba(255, 255, 255, 0.5);
  padding: 8px;
}
.footer-icon{
  height: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

/* Skill Bar */
.bar{
  margin: 10px 0;
}
.bar:first-child{
  margin-top: 0px;
}
.bar .info{
  margin-bottom: 5px;
}
.bar .info span{
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100%{
    opacity: 1;
  }
}

.bar .progress-line{
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
              0 1px rgba(255,255,255,0.8);
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.bar .progress-line span{
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: rgb(166, 227, 179);
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
/* Skill Bar Percents */
.bar .progress-line.html span{
  width: 70%;
}
.bar .progress-line.css span{
  width: 70%;
}
.bar .progress-line.javascript span{
  width: 40%;
}
.bar .progress-line.c-sharp span{
  width: 40%;
}
.bar .progress-line.sql span{
  width: 50%;
}
.bar .progress-line.react span{
  width: 50%;
}
.bar .progress-line.react-native span{
  width: 40%;
}
.bar .progress-line.google-analytics span{
  width: 45%;
}

/* Media Settings */
@media screen and (max-width: 600px) {
  html{
    scroll-behavior: smooth;
  }
  body{
    background-size: auto;
  }
  .profile-image{
    max-width: 150px;
  }
  .navigation{
    padding: 0;
  }
  .long{
    max-width: 300px;
  }
.project-video{
  max-width: 350px;
}
  .progress-line span::after{
    animation: none;
  }
  .progress-line span::before{
    animation: none;
  }
}